<extend name="./Application/Admin/View/Layout/application.html"/>

<block name="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="page-header">
                    <h1>友情链接
                        <small>友情链接大全</small>
                    </h1>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">网址信息</div>
                    <div class="panel-body">
                        <form action="" method="post" id="form">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll"></th>
                                    <th>名称</th>
                                    <th>网址</th>
                                    <th>序号</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="links" id="l">
                                    <tr>
                                    <tr data-id="{{$l.id}}">
                                        <td><input type="checkbox" class="check_destroy" name="destroy_checked[]"
                                                   value="{{$l.id}}"></td>
                                        <td class="'name">{{$l.name}}</td>
                                        <td class="url">
                                            <a href="{{$l.url}}" target="_blank">
                                                {{$l.url}}
                                            </a>
                                        </td>
                                        <td>
                                            <input type="hidden" name="id[]" value="{{$l.id}}">
                                            <input type="text" value="{{$l.sort_order}}" name="sort_order[]"
                                                   class="sort_order"></td>
                                        <td>
                                            <a data-toggle="modal" data-target="#edit_link" data-id="{{$l.id}}"
                                               class="edit">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a data-toggle="modal" data-target="#destroy_link" class="destroy">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="list-group">
                    <a class="list-group-item list-group-item-success"
                       data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增 (add)
                    </a>
                    <a href="javascript: void 0;" class="list-group-item list-group-item-info sort_flinks">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 排序 (sort)
                    </a>
                    <a href="javascript: void 0;"
                       class="list-group-item list-group-item-warning del_all_flinks">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 刪除 (delete)
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--新模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加友情链接</h4>
                </div>
                <form class="form-horizontal" role="form" action="{{:U('store')}}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="create_name" class="col-sm-2 control-label">链接名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="create_name" placeholder="链接名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="create_name" class="col-sm-2 control-label">链接网址</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" name="url" id="create_url" placeholder="链接地址">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 编辑 -->
    <div class="modal fade" id="edit_link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">编辑友情链接</h4>
                </div>
                <form class="form-horizontal" role="form" action="{{:U('update')}}" method="post">
                    <input type="hidden" name="id" id="edit_id">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="create_name" class="col-sm-2 control-label">链接名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="name" placeholder="链接名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="create_name" class="col-sm-2 control-label">链接网址</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" name="url" id="url" placeholder="链接地址">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 删除 -->
    <div class="modal fade" id="destroy_link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除友情链接</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除当前内容吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" id="confirm_destroy">确 定</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function () {
            //编辑
//            $(".edit").click(function () {
//                var data = {
//                    id: $(this).parents("tr").data('id'),
//                    name: $(this).parent().siblings('.name').text(),
//                    url: $.trim($(this).parent().siblings('.url').text())
//                }
//                $("#edit_id").val(data.id);
//                $("#edit_name").val(data.name);
//                $("#edit_url").val(data.url);
//            })
            //删除单条链接
            $('.destroy').click(function () {
                var id = $(this).parents("tr").data('id');
                $("#confirm_destroy").attr("href", "/Admin/Link/destroy/id/" + id);
            })
            //多选
            $("#checkAll").click(function () {
                $(".check_destroy").prop("checked", this.checked);
            })
            //多选删除
            $(".del_all_flinks").click(function () {
                var length = $(".check_destroy:checked").length;
                if (length == 0) {
                    alert('你必须至少选中一条记录');
                    return false;
                }
                $("#form").attr("action", "{{:U('destroy_checked')}}").submit();
            })
            //排序
            $(".sort_flinks").click(function () {
                $("#form").attr("action", "{{:U('sort_order')}}").submit();
            })
            //改变序号
            $(".sort_order").change(function () {
                var id = $(this).parents("tr").data('id');
                var sort_order = $(this).val();
                var _this = $(this);
                $.post("{{:U('sort')}}", {
                    id: id,
                    sort_order: sort_order
                }, function (data) {
                    console.log(data);
                    _this.val(data.sort_order);
                }, "json")
                return false;
            })
            //编辑
            $(".edit").click(function () {
                var id = $(this).data('id');
                console.log(id);
                $.post("{{:U('edit')}}", {
                    id: id,
                }, function (data) {
                    console.log(data);
                    $("#edit_id").val(data.link.id);
                    $("#name").val(data.link.name);
                    $("#url").val(data.link.url);
                }, "json")
                //return false;
            })
        })
    </script>
</block>
