<extend name="./Application/Admin/View/Layout/application.html"/>

<block name="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">

                <div class="page-header">
                    <h1>文章管理
                        <small>articles Manage</small>
                    </h1>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">文章列表</div>
                    <div class="panel-body">
                        <form action="" method="post" id="form">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll">全选</th>
                                    <th>标题</th>
                                    <th>所属栏目</th>
                                    <th>发布日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="articles" id="a">
                                    <tr data-id="{{$a.id}}">
                                        <td><input type="checkbox" class="check_destroy" name="destroy_checked[]"
                                                   value="{{$a.id}}"/></td>
                                        <td class="title">{{$a.title}}</td>
                                        <td class="category_id">{{$a.category.name}}</td>
                                        <td class="time">{{$a.time|date="Y-m-d",###}}</td>
                                        <td>
                                            <a href="{{:U('restore',array('id'=>$a[id]))}}" class="restore">
                                                <span class="glyphicon glyphicon-share-alt"></span>
                                            </a>
                                            <a  href="{{:U('do_destroy',array('id'=>$a[id]))}}" class="destroy">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="list-group">
                    <a href="{{:U('create')}}" class="list-group-item list-group-item-success" >
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增 (add)
                    </a>
                    <a href="javascript: void 0;" class="list-group-item list-group-item-info sort_flinks">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 排序 (sort)
                    </a>
                    <a href="javascript: void 0;"
                       class="list-group-item list-group-item-warning del_all_flinks">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 刪除 (delete)
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除 -->
    <div class="modal fade" id="destroy_link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除文章</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除当前内容吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a class="btn btn-primary" id="confirm_destroy">确 定</a>
                </div>
            </div>
        </div>
    </div>


</block>
<block name="js">
    <script>
        $(function () {
            //删除单条链接
            $('.destroy').click(function () {
                var id = $(this).parents("tr").data('id');
                $("#confirm_destroy").attr("href", "/Admin/Article/destroy/id/" + id);
            })
            //多选
            $("#checkAll").click(function () {
                $(".check_destroy").prop("checked", this.checked);
            })
            //多选删除
            $(".del_all_flinks").click(function () {
                var length = $(".check_destroy:checked").length;
                if (length == 0) {
                    alert('你必须至少选中一条记录');
                    return false;
                }
                $("#form").attr("action", "{{:U('destroy_checked')}}").submit();
            })
            //排序
            $(".sort_flinks").click(function () {
                $("#form").attr("action", "{{:U('sort_order')}}").submit();

            })

        })
    </script>
</block>
